@page "/"
@rendermode InteractiveServer
<Snowflake />
<section class="content d-flex justify-content-center align-items-center flex-column gap-3 z-5">

    <div class="box d-flex justify-content-center align-content-center flex-column p-5">
        <img class="christmas" src="imgs/christmas.png">
        <h3 class="text-center w-100">CHRISTMAS @DateTime.Now.Year</h3>

        <h1 class="fontLarge text-center w-100">@tempoRestante.ToString(@"dd\:hh\:mm\:ss")</h1>
    </div>
    <NavLink href="/card" style="background-color: #ffffff; color: #111; 
    padding: 10px 20px; margin-top: 20px; border: none; border-radius: 5px; cursor: pointer;" class="btn-dark p-2">
       Create Card 🌟
    </NavLink>

</section>

@code {
    private TimeSpan tempoRestante;
    private DateTime ultimoTick;
    private bool estaRodando = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (estaRodando)
        {
            tempoRestante = CalcularTempoRestante();
            StateHasChanged();
            await Task.Delay(1000);
        }
    }

    private TimeSpan CalcularTempoRestante()
    {
        DateTime natal = new DateTime(DateTime.Now.Year, 12, 25);
        return natal - DateTime.Now;
    }
}
