.fontLarge{
    font-size: calc(5vw);
  
}

.christmas {
    position: absolute;
    z-index: -1;
    bottom: 93%; 
    left: 50%;
    transform: translateX(-50%); 
    width: 150px;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}


.box {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    text-align: center; 
    animation: fall linear infinite;
    opacity: 0; 
    animation: fadeIn 0.5s ease-in-out forwards; 
    
}
.content{
    z-index: 5;
}
@media (max-width: 767px) {
    .christmas {
        left:47%;
    }
}

.btncard{
  z-index: 5;
  display: flex;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
